@{
    ViewData["Title"] = "Cannot Access";
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>We're sorry!</h2>
        <p>You are unable to access this entity.</p>
        <p>Please, click the button below to be redirected to the home page.</p>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" >Home Page</a>
        </p>
    </div>
</div>